<div
  class="list-group-item"
  [ngClass]="activeClass"
  (mouseover)="toggleActiveClass($event)"
  (mouseout)="toggleActiveClass($event)">
  <div class="character">
    <div class="d-flex">
      <img
        class="rounded character-image border-1"
        src="{{ character.thumbnail.path + '.' + character.thumbnail.extension }}" alt="Image for {{character.name}}"
      />
      <div class="character-information">
        <h4>{{ character.name }}</h4>
        <p>{{ character.description }}</p>
      </div>
    </div>
    <div>
      <span class="badge badge-default">Comics {{character.comics.available }}</span>
      <span class="badge badge-default">Events {{character.events.available }}</span>
      <span class="badge badge-default">Series {{character.series.available }}</span>
      <span class="badge badge-default">Stories {{character.stories.available }}</span>
    </div>
  </div>
</div>