<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Character Search</h3>
        <h5 class="card-subtitle mb-2 text-muted">Learn more about your favorite Marvel superheroes and discover new ones</h5>
        <form>
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>