<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Character Search</h3>
        <h5 class="card-subtitle mb-2 text-muted">Learn more about your favorite Marvel superheroes and discover new ones</h5>
        
        <form (ngSubmit)="onSubmit(characterSearch)" #characterSearch="ngForm">
          <div class="form-group" [ngClass]="{'has-danger': nameStartsWithCtrl.invalid && nameStartsWithCtrl.touched}">
            <label for="nameStartsWith">Name</label>
            <input
              type="text"
              class="form-control"
              id="nameStartsWith"
              name="nameStartsWith"
              ngModel
              required
              #nameStartsWithCtrl="ngModel">
              <span
                class="form-control-feedback"
                *ngIf="nameStartsWithCtrl.invalid && nameStartsWithCtrl.touched">
                Please enter a name.
              </span>
          </div>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="characterSearch.pristine || characterSearch.invalid">
            Submit
          </button>
        </form>

      </div>
    </div>
  </div>
</div>